---
import "./global.css";
import NavButtons from "./components/NavButtons.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Taylor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400;700&display=swap" rel="stylesheet">

  </head>
  <body class="body">
    <section class="hero">
      <div class="overlay"></div>
      <h1 class="title">Taylor<br>Greene</h1>
      <NavButtons />
    </section>
  </body>
</html>


